<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>APRENDE ANGULAR</h1>
  <div>
    <h3>0. INTRODUCCION</h3>
    <p>
    En este curso de Angular veremos desde los conceptos mas basicos hasta un nivel avanzado. Este curso ha sido difundido desde 
    la siguiente pagina web <a href="https://www.youtube.com/watch?v=FfqLD0Yoxu0&list=PLU8oAlHdN5BnNAe8zXnuBNzKID39DUwcO&index=3&ab_channel=pildorasinformaticas" target="_blank"> Curso Angular</a> 
    La página donde hago los diagramas y dibujos es la siguiente: <a href="https://www.diagrams.net/" target="_blank">Diagramas</a>. A continuacion 
    se muestran los temas a tratar: 
    </p>
    <ol>
      <li>Estructura y modificacion de la App.</li>
      <li>Componentes.</li>
      <li>Iterpolación.</li>
      <li>...</li>
    </ol>
  </div>
  <div>
    <h3>1. ESTRUCTURA Y MODIFICACION DE LA APP.</h3>
    <p>
      La diferencia entre una pagina web convencional y una single page application (SPA) estriba en que la primera esta haciendo peticiones 
      al servidor continuamente cada vez que queremos ver una imagen se le hace una peticion al servidor y este nos devuelve otro html con esa
      imagen, en cambio para una SPA esto no es asi esta realiza una sola peticion al arranque de la aplicacion. El cliente va modificando 
      cosas en la aplicacion y van apareciendo otras esto se hace gracias a la tecnologia AJAX es decir cada vez que el usuario realiza una 
      accion se envia una peticion al servidor y este nos responde con un documento JSON se usa para intercambiar datos entre el cliente y el servidor
      podemos apreciarlo en la imagen de la izquierda.
    </p>
    <p>
      <img id="img1" src="../assets/imagen1.png"> 
      <img id="img2" src="../assets/imagen2.png">  
    </p>
    <p>
    A continuacion vemos el modulo raiz app.module.ts y dentro se define el componente principal a cargar AppComponet. 
    En la parte de declarations se importaran o agregaran los componentes que van a existir en este modulo principal, en 
    la parte de imports se agregaran las librerias que queramos importar de Angular junto con el AppRoutingModule como podemos 
    ver en la imagen de abajo a la izquierda, en la de la derecha vemos el componente AppComponent el cual va dentro del raiz este 
    componente esta compuesto por un selector 'app-root', el templateUrl que es el html de este mismo componente junto con el 
    styleUrls que es la pagina de estilos de este componente.
    El decorador de este componente lo identificamos con @Component. Se puede observar que hay una parte llamada export class
    AppComponent vemos que hay una propiedad title la cual usamos despues en el documento del html del componente se pueden 
    crear mas propiedades 
  </p>
  <div>
    <img id="img3" src="../assets/imagen3.png">
    <img id="img4" src="../assets/imagen4.png">
  </div>
  <h3>2. COMPONENTES EN ANGULAR.</h3>
  <p>
    Los componentes se pueden crear manualmente o automaticamente a partir del CLI. Una vez que creas
    un componente es necesario registrarlo en la aplicacion dentro del archivo app.module.ts agregamos
    dentro del apartado declarations el nombre de la clase del nuevo componente ademas de importar 
    el componente con import.
  </p>
  <!--Agregamos el componente Empleados-->
  <app-empleados></app-empleados>
  <!--Seguimos con nuestro componente principal-->
  <p>
    Muchas veces cuando creamos un componente Angular nos crea los tres archivos primordiales html, ts y css pero algunas 
    veces el codigo del ts y css son muy pequeños y no queremos esos archivos para algo tan minusculo es por ello
    que podemos hacerlo inline para ello debemos ir al archivo ts del componente omitir la linea de css o ts del @Componet 
    y cambiamos el codigo styleUrls: ['./empleado.component.css'] por styles:[""] igual que en la programacion web que puedes 
    hacer estilos en la misma pagina o en un archivo aparte y de la misma manera lo hariamos para la parte del html. Si quieres 
    que al crear un componente mediante CLI haga todo esto que acabamos de comentar se deberia crear de la siguiente manera:
    ng g c nombreComponeten -s -t
  </p>
  <app-empleado></app-empleado>
  <app-empleado></app-empleado>


</div>

</body>
</html>