<div>
    <h3>Empleados de la Empresa</h3>
    <p>Este apartado es un compoente Empelados que esta dentro del componete 
        principal que es app.component.html.
        Dentro de este componente a su vez vamos a introducir otro componente empleado en 
        singular pero esta vez lo crearemos desde la terminal con CLI. Lo bueno es que podemos 
        reutilizar las veces que necesitamos este componente empealdo, la manera de crear un componente 
        desde el terminal de comandos es de la sigueinte manera: ng generate component -nombreComponete-
        y la manera abrebiada ng g c -nombreComponete-
    </p>
    <!--Agregamos el componente Empleado-->
    <!--
    <app-empleado></app-empleado>
    <app-empleado></app-empleado>
    -->
    
</div>