<div>
    <h6>EJEMPLO PRACTICO (Este es el componente Empleados)</h6>
    <p>
        Este apartado es un compoente Empelados que esta dentro del componete 
        principal que es app.component.html.
        Dentro de este componente a su vez vamos a introducir otro componente empleado en 
        singular pero esta vez lo crearemos desde la terminal con CLI. Lo bueno es que podemos 
        reutilizar las veces que necesitamos este componente empealdo, la manera de crear un componente 
        desde el terminal de comandos es de la sigueinte manera: ng generate component -nombreComponete-
        y la manera abrebiada ng g c -nombreComponete-. <br>
        En este apartado estamos nosotros poniendo los datos que queremos pero lo normal en las aplicaciones es 
        el usuario interactue con nostros pidiendole datos o reclamando informacion es por ello que en este caso 
        vamos a pedir al usuario que pueda modificar la empresa a traves de un texto y un boton.
    </p>
    <!--Agregamos el componente Empleado-->
    <!--
    <app-empleado></app-empleado>
    <app-empleado></app-empleado>
    -->
    <p>---------Fin componente empleados---------</p>
    <p>---------Inicio componente empleado---------</p>
    <app-empleado></app-empleado>
    <br>
    <p>---------Fin componente empleado---------</p>
    <br>
</div>